{% extends "layout.html" %}


{% block content %}
   <h1> Single post page  </h1>
   <article class="media content-section">
      <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="Profile Picture" class="rounded-circle article-img" >
      <div class="media-body ">
         <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            {% if post.author == current_user  %}
               <div>
                  <a class="btn btn-secodary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}"> Update </a>
                  <!-- Trigger/Open The Modal -->
                  <button id="Btn" class="test">Delete</button>

                  <!-- The Modal -->
                  <div id="myModal" class="modal">

                  <!-- Modal content -->
                  <div id="mdc" class="modal-content animate-top">
                     <!-- <span class="close">&times;</span> -->
                     <div>
                        <h1>Delete Post?</h1>
                        <!-- <div><textarea class="text_place" id="" cols="140" rows="5">Some Input Text......</textarea></div> -->
                        <div class="close">Close</div>
                        <!-- <a class="delete">Delete</a> -->
                        <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" class="xform" method="post">
                           <input type="submit" value="Delete" class="delete">
                        </form>
                     </div>
                  </div>

                  </div>
               </div>
            {% endif %}
         </div>
         <h2 class="article-title"> {{ post.title }} </h2>
         <p class="article-content">{{ post.content }}</p>
      </div>
   </article>
   <!-- Modal -->
   <!-- <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary">Save changes</button>
            </div>
         </div>
      </div>
   </div> -->
{% endblock content %}